@model IEnumerable<WebForum.Models.Topic>

@{
    ViewBag.Title = "Welcome to topics";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
            @Html.ActionLink("Post Create", "Create", "Post", new {TopicId = item.Id}, null) |
            @Html.ActionLink("Post List", "Index", "Post", new {TopicId = item.Id}, null)
        </td>
    </tr>
}
</table>
